node_modules
logs/*.log
dist/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

node_modules

# dotenv environment variable files
.env.development
.env.test

# jest
jest.config.js

coverage

public/*